# =========================
# ENV VARIABLES
# =========================
.env
.env.*
!.env.example

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# =========================
# VENV
# =========================
.venv/
venv/
env/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# LOGS
# =========================
*.log

# =========================
# CACHE
# =========================
.cache/
